<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    <style>
        body{
            font-family: Helvetica, sans-serif
        }
        .registrationButton{
            border-radius:25px;
            border:1px solid grey;

            background:#fefefe;
            padding:10px 20px;
            font-size: 13px;
            font-weight: bold;
            margin: 5px;
        }
        .registrationButton:focus{
            outline: none;
        }
    
    
    
    
    
    
    
    </style>
</head>
<body>
   
    <h2>What class would you like to enter? </h2>
        
        
    
    <input id="room-name-input" type="text" size="20" class="registrationButton"/>
    <input id="room-name-submit" type="button" value="Enter" class="registrationButton"/>
    

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
</html>
