<!-- chat/templates/chat/room.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{strippedName}}</title>
    <script>                                       
        var roomName = {{ room_name_json }}
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <link rel="stylesheet" href="{% static 'roomStyle.css'%}">

</head>
<body>
    
    <div id="chat">
        <input type="hidden" id="instructorChannel" value="notIt">
  

        <div id="chatArea" v-show="showChat">   
            <h2> Chat Room {{strippedName}} | 
                <span v-if="isInstructor"> You are the instructor.</span>
                <span v-else-if="isAnonymous"> Chatting as anonymous to students.</span>
                <span v-else> Chatting as {( username )}</span>
            </h2>  
    
            <div id="chatMessages">
                <p v-for="message in messages" 
                v-bind:class="{ 'myMessage': message.isMine, 'otherMessage': !message.isMine }">
                   {( message.username )}
                    {( message.message )} 
                </p>
            </div>  
         
            <div id="chatInput">
                    <input id="chat-message-input" type="text" size="100"/>
                    <input id="chat-message-submit" type="button" value="Send"/>
            </div>
        </div>
        <div id="register" v-show="!showChat">
                <h2> Welcome to chatroom {{strippedName}}</h2>
                <h3> What's your name?</h3>
                <input class="registrationButton" 
                id="userName" type="text" maxlength="20"
                v-on:keyup.13="setUsername"> <br>
                <h3> Other options:</h3>
            
                <h4>Instructor: <br>
                    Can see all student names. <span><input id ="instructor" type="radio" name="register"></span> 
                 </h4>
       
                <h4>Anonymous Student: <br>
                Appear anonymous to other students, but not the instructor. 
                <span><input id ="anonymous" type="radio" name="register"></span>
                </h4>

                <h4>Non-Anonymous Student: <br>
                    Your name is visible to all.
                    <span><input type="radio" name="register" checked></span>
                    </h4>
                <input id="submitRegistration" 
                class="registrationButton"
                type="button" value="Enter Chatroom"
                v-on:click="setUsername">

        </div>
    </div>
    <script src="{% static 'chatLogic.js' %}"></script>
    
</body>

</html>
